plugins/rct-plugin-track-work/public/schema/sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="simple-types.xsd"/>
  <xs:include schemaLocation="common.xsd"/>

  <xs:simpleType name="_wave_mode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="parallel"/>
      <xs:enumeration value="sequential"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="_gate_cadence">
    <xs:restriction base="xs:string">
      <xs:enumeration value="per-cycle"/>
      <xs:enumeration value="per-wave"/>
      <xs:enumeration value="per-plan"/>
      <xs:enumeration value="end-only"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="_review_cadence">
    <xs:restriction base="xs:string">
      <xs:enumeration value="per-cycle"/>
      <xs:enumeration value="per-plan"/>
      <xs:enumeration value="per-wave"/>
      <xs:enumeration value="end-only"/>
      <xs:enumeration value="disabled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="_wave_plan_ref">
    <xs:attribute name="suffix" type="_str" use="required"/>
    <xs:attribute name="worktree-required" type="_bool" use="required"/>
  </xs:complexType>

  <xs:complexType name="_wave">
    <xs:sequence>
      <xs:element name="plan" type="_wave_plan_ref" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="index" type="_int" use="required"/>
    <xs:attribute name="mode" type="_wave_mode" use="required"/>
  </xs:complexType>

  <xs:complexType name="_edge">
    <xs:attribute name="from" type="_str" use="required"/>
    <xs:attribute name="to" type="_str" use="required"/>
    <xs:attribute name="reason" type="_long_desc" use="required"/>
    <xs:attribute name="symbol" type="_str" use="optional">
      <xs:annotation><xs:documentation>Optional: the specific symbol/contract that crosses the boundary (e.g., a function, class, fixture name). Helps human reviewers and helps the lead detect symbol-overlap violations.</xs:documentation></xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="_gate">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="kind" type="_str" use="required">
          <xs:annotation><xs:documentation>Gate kind: project-test (e.g., "pixi run test"), project-check ("pixi run check"), invariant-check (custom command), peer-symbol-check (cross-plan symbol existence).</xs:documentation></xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="_invariant">
    <xs:sequence>
      <xs:element name="constraint" type="_long_desc" minOccurs="1" maxOccurs="1"/>
      <xs:element name="enforcement" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="gate" type="_gate" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="_str" use="required"/>
  </xs:complexType>

  <xs:complexType name="_execution_policy">
    <xs:attribute name="wave-gate" type="_gate_cadence" use="required">
      <xs:annotation><xs:documentation>When the project gate (e.g., `pixi run check`) is run during execution.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="integration-checkpoint" type="_gate_cadence" use="required">
      <xs:annotation><xs:documentation>When the lead validates cross-plan integration (running invariant gates).</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="code-review-checkpoint" type="_review_cadence" use="required">
      <xs:annotation><xs:documentation>Theme B integration point. When `superpowers:code-review` is invoked. `disabled` is the Theme A pre-Theme-B default.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="finishing-skill" type="_bool" use="required">
      <xs:annotation><xs:documentation>Theme B integration point. Whether to invoke `superpowers:finishing-a-development-branch` after group close. Default `true` if any child has `worktree="required"`, else `false` (Theme B will replace this default with its own logic).</xs:documentation></xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="waves">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="wave" type="_wave" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dependencies">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="edge" type="_edge" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="invariants">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="invariant" type="_invariant" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="execution-policy" type="_execution_policy" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="group-id" type="_slug" use="required"/>
      <xs:attribute name="splits" type="_path" use="required">
        <xs:annotation><xs:documentation>Path to the splits.xml that this sequence is built atop.</xs:documentation></xs:annotation>
      </xs:attribute>
      <xs:attribute name="generated-at" type="_timestamp" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
